/* You can add global styles to this file, and also import other style files */
html {
  background-color: lightgray;
  color: navy;
}

table *{
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.highlight {
  background-color: yellow;
}

.uppercase {
  text-transform: uppercase;
}


input.ng-valid {
  background-color: #79ba6a;
  font-weight: bolder;
  text-align: center;
}

input.ng-invalid {
  background-color: #f58c84;
  font-weight: bolder;
}
